@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

body {
  height: 100% !important;
  background-color: #f8f8ff !important;
  font-family: Inter !important;
}
.form-control {
  background-color: rgb(235, 232, 232) !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(235, 232, 232) inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
}
.off-white {
  background-color: #faf9f6 !important;
}
.btn-blue {
  --bs-btn-color: #ffffff !important;
  --bs-btn-bg: #56a1f4 !important;
  --bs-btn-border-color: #56a1f4 !important;

  --bs-btn-hover-color: #ffffff !important;
  --bs-btn-hover-bg: #3d8ae0 !important;
  --bs-btn-hover-border-color: #3d8ae0 !important;

  --bs-btn-focus-shadow-rgb: 86, 161, 244;

  --bs-btn-active-color: #ffffff !important;
  --bs-btn-active-bg: #6fb5f6 !important;
  --bs-btn-active-border-color: #6fb5f6 !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;

  --bs-btn-disabled-color: #ffffff !important;
  --bs-btn-disabled-bg: #56a1f4 !important;
  --bs-btn-disabled-border-color: #56a1f4 !important;
}

.btn-blue:hover {
  background-color: var(--bs-btn-hover-bg) !important;
  border-color: var(--bs-btn-hover-border-color) !important;
  color: var(--bs-btn-hover-color) !important;
}

.btn-blue:focus {
  box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), 0.5) !important;
}

.btn-blue:active {
  background-color: var(--bs-btn-active-bg) !important;
  border-color: var(--bs-btn-active-border-color) !important;
  color: var(--bs-btn-active-color) !important;
  box-shadow: var(--bs-btn-active-shadow) !important;
}

.btn-blue:disabled,
.btn-blue.disabled {
  background-color: var(--bs-btn-disabled-bg) !important;
  border-color: var(--bs-btn-disabled-border-color) !important;
  color: var(--bs-btn-disabled-color) !important;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
@media (max-width: 768px) {
  .card-img-top {
    height: 40vw; /* Larger height on smaller devices */
  }
}
.scrollable-album-content-form {
  overflow-y: auto !important;
  max-height: 500px;
  height: 100%;
}

.carousel-inner {
  aspect-ratio: 1 / 1 !important; /* Ensures the carousel maintains a square aspect ratio */
  overflow: hidden !important; /* Hides overflow for non-square images */
}

.carousel-item img {
  width: 100% !important; /* Image stretches to fill the width */
  height: 100% !important; /* Image stretches to fill the height */
  object-fit: cover !important; /* Ensures images are cropped and maintain aspect ratio */
}
.img-cover{
  object-fit: cover;
  object-position: center;
}